/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Car Collection Styles */
.car-collection {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Heading */
.heading {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.search-input {
    height: 40px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: inherit; /* Ensure input text color is inherited */
}

/* Light Theme Search Input */
.search-input.light-theme {
    background-color: #f9f9f9;
    border-color: #ddd;
    color: #333;
}

/* Dark Theme Search Input */
.search-input.dark-theme {
    background-color: #333;
    border-color: #555;
    color: #fff;
}




/* Car List (Grid of Cars) */
.car-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Individual Car Item */
.car-item {
    background-color: #ebf2fc;
    border-radius: 16px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

/* Light Theme Car Item */
.car-item.light-theme {
    background-color: #ebf2fc;
    color: black;
}

/* Dark Theme Car Item */
.car-item.dark-theme {
    background-color: #2C2C2C;
    color: white;
}

/* Hover Effect for Car Item */
.car-item:hover {
    transform: scale(1.09);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

/* Car Image Styles */
.car-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Car Brand and Model */
.car-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Car Item Description */
.car-item p {
    font-size: 14px;
    margin-top: 10px;
    color: #777;
}

/* Dark Theme Car Collection */
.dark-theme .car-collection {
    background-color: #121212;
    color: #fff;
}

.dark-theme .heading {
    color: #fff;
}

.dark-theme .car-item {
    background-color:#5c5c5c;
    color: #fff;
}

/* Light Theme Car Collection */
.light-theme .car-collection {
    background-color: #f9f9f9;
    color: #333;
}

.light-theme .heading {
    color: #333;
}

.light-theme .car-item {
    background-color: #ebf2fc;
    color: #333;
}

