*{
  font-size: 1rem;
}
html{
  scroll-behavior: smooth;

}
.Img:hover{
  transition: transform 0.5s ease;
  width: 100%;
  height: auto;
  transform: scale(1.8);
}

.navbar-brand { 
  padding: 5px; 
  font-family: 'Allura',cursive;
  font-size:40px !important;
  font-style: normal;
  font-weight:500;


}

.navbar-brand:hover {
  background: linear-gradient(90deg,red, yellow); 
  -webkit-background-clip:text;
  color:transparent;
  transform: translateY(-5px) rotateY(5deg);
}

.navbar{
  z-index: 1000;
  margin-bottom: auto;
  position:relative;
  font-size:24px ;

}
.navbar-dark .nav-link{
  color: white;

}
.nav-link{
  text-decoration: none;
  color: white;
  transition:color 0.3s,transform 0.3s;
}

.navbar-dark .nav-link:hover{
  background: linear-gradient(90deg,lightgreen, yellow); 
  -webkit-background-clip: text;
  color:transparent;
  transform: scale(1.1);
}

.navbar-light .nav-link{
  color:black;
}
.navbar-light .nav-link:hover{
  background: linear-gradient(90deg,red, blue); 
  -webkit-background-clip: text;
  color:transparent;
  transform: scale(1.1);
}
.common-heading {
  font-family: 'Allura', cursive; 
  text-align: center;
  padding: 23px;
  font-weight: 400;
  font-size: auto; 
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

