.slide-show{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #eaeaea;

}
.unique-slider-container {
  position: relative; 
  margin-top: 20px;
  width: 100%; 
  height: 600px; 
  background: #f5f5f5; 
  overflow: hidden;
}

.unique-slider-slide {
  position: relative; 
  height: 100%; 
}

.unique-slider-item {
  width: 100%;
  height: 100%; 
  position: absolute; 
  top: 0; 
  left: 0;
  background-position: center;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.unique-slider-item.active {
  opacity: 1;
}


.unique-slider-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color:black;
}

.unique-slider-name {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.unique-slider-des {
  margin-top: 10px;
  color:white;
  margin-bottom: 20px;
}

.unique-slider-button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.unique-slider-button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.unique-slider-button button:hover {
  background: #ababab;
  color: #fff;
}
.footings{
  padding:12px;
  margin-left:50px;
  margin-top:50px;
}
.footcomapany{
  padding: 5px; 
  font-family: 'Allura',cursive;
  font-size:40px !important;
  font-style: normal;
  font-weight:500;
  text-align:center;

}
.centered-text {
    text-align: center;
    margin: 100px 0;
}
.contain{
   display:flex;
   flex-wrap:wrap;
}
